body {
	background-image: url(images/Table2.png);
	background-repeat: no-repeat;
	background-size: 100%, 100%; 
}
h1 {
	color: #c9c9c9;
	text-align: center;
	font-family: Calibri;
} 
img {
	border: 0.1em solid #122d12;
}
button {
	font-family: Calibri;
	font-size: 16px;
}